# Dependencies
node_modules/
client/node_modules/

# Production build
client/dist/

# Local database store & cache
server/data/*.json
!server/data/.gitkeep

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
